<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pitaya.mobile.uinspector">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <service
            android:name=".notification.UInspectorNotificationService"
            android:exported="false" />
    </application>
</manifest>