<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huya.mobile.uinspector">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <provider
            android:name=".lifecycle.UInspectorInstaller"
            android:authorities="com.huya.mobile.uinspector.installer"
            android:exported="false" />

        <service
            android:name=".notification.UInspectorNotificationService"
            android:exported="false" />
    </application>
</manifest>