<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pitaya.mobile.uinspector.optional.autoinstall">

    <application>
        <provider
            android:name="com.pitaya.mobile.uinspector.optional.UInspectorInstaller"
            android:authorities="${applicationId}.uinspector.optional.installer"
            android:exported="false" />
    </application>
</manifest>